h1 {color: #48544b;
	font-size:70px;
	text-align: center;
}
p {color: black;
text-align: center;}
body {background-color:#6c8071}
h2 {color: #333d36;
	font-size: 30px;
	}
h4 {text-align: right;}

